target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
client/target/
client/lib/
LoadBalance/lib/
server/lib/
server/target/
client/Logger/
support/target/


client/target/
client/lib/
LoadBalance/lib/
Broker/lib/
server/lib/
server/target/
client/Logger/
support/target/


### IntelliJ IDEA ###
server/.idea/modules.xml
server/.idea/jarRepositories.xml
server/.idea/compiler.xml
server/.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
target
/out

/client/Logger